.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the dashboard fill the entire viewport */
}

.top-section {
  height: 70%;
  overflow: hidden; /* Hide overflow content */
}

.image-slideshow {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image or video covers the container */
}

.bottom-section {
  height: 30%;
  display: flex;
  justify-content: space-around; /* Align boxes evenly in row */
  align-items: center;
  background-color: #f2f2f2; /* Background color for the bottom section */
}

.box1 {
  width: calc(100% / 7 - 20px); /* Adjust the width of each box */
  height: 80%; /* Set the height of each box */
  background-color: #fff; /* Background color of each box */
  border: 1px solid #ccc; /* Border for each box */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; /* Margin between boxes */
}
